/* Base */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
}

.wrapper {
    width: 95%;
    margin: 0 auto;
}

/* Hero section */

.hero {
    padding-top: 5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero-wave {
    position: absolute;
    display: block;
    transform: rotate(180deg)
}

.hero-illustration {
    width: 80%;
}

.main {
    height: 100vh;
}

.main-content {
    margin-top: 10rem;
}

.main-heading {
    font-size: 3rem;
    font-family: "Bangers";
    letter-spacing: 2.5px;
}

.main-subheading {
    margin-top: 1em;
    font-size: 1.2rem;
    line-height: 30px;
    color: gray;
    margin-bottom: 2em;
}

.main-btn {
    padding: 1rem 4rem;
    border: 1px solid black;
    border-radius: 12px;
    color: #fff;
    background: darkblue;
    font-family: "Bangers";
    font-weight: 900;
    letter-spacing: 3px;
    text-decoration: none;
    transition: .2s ease;
}

.main-btn:hover {
    background-color: #fff;
    color: darkblue;
}

.main-illustration {
    width: 45%;
    transform: rotate(-45deg);
    padding-top: 6.5em;
    max-width: 400px;
}

/* Image of the day section */

.section-title {
    font-family: "Bangers";
    text-align: center;
    font-size: 2rem;
    letter-spacing: 3px;
}

.iotd-title {
    text-align: center;
    margin-top: 1.5em;
    position: relative;
    text-decoration: underline;
    text-decoration-color: darkblue;
}

.image-of-the-day {
    position: relative;
}

.blob-1 {
    position: absolute;
    left: -20%;
    width: 40%;
}

.blob-2 {
    position: absolute;
    right: -15%;
    width: 25%;
    top: 45%;
}

.daily-image {
    width: 60%;
    margin: 2em 0 2em 20%;
    position: relative;
}

.daily-image::after {
    content: "i";
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 300px;
}

.iotd-description {
    width: 25%;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 25%;
    right: 0;
    background-color: rgba(173,216,230, .6);
    display: none;
}

/* Asterdoid section */

.asteroids {
    padding: 12em 0;
    position: relative;
}

.asteroid-warning {
    font-family: "Bangers";
    text-align: center;
    font-size: 4rem;
    position: relative;
}

.underline {
    cursor: pointer;
    color: darkblue;
}

.earth-icon {
    width: 15%;
    display: block;
    margin: 0 auto;
    display: none;
}

.asteroid {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: none;
}

.asteroid-icon {
    width: 3%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
}

.asteroid-name {
    position: absolute;
    top: -5%;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    color: #f2705b;
}

.meteor{
    position: absolute;
    width: 10%;
    top: 80%;
    left: -2%;
    transform: rotate(-70deg);
}

.meteor-2 {
    position: absolute;
    width: 10%;
    right: 0;
    top: 0;
}

.meteor-shake {
    animation: vibrate .3s infinite;
}

/* Rover photos section */

.rover-photos {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5em 0;
    justify-content: center;
}

.rover-photo {
    width: 33%;
    padding: .5em;
}

/* Astronaughts section */

.astros-in-space {
    position: relative;
}

.astronaught {
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.astro-icon {
    width: 40%;
}

.black-hole {
    margin: 3em auto;
    display: block;
    width: 45%;
    animation: rotate 3s linear infinite;
}

.image-container {
    position: relative;
}

.astros-container {
    display: flex;
    justify-content: center;
}

.num-of-astros {
    position: absolute;
    top: 38%;
    right: 47.5%;
    font-size: 6rem;
    font-weight: 900;
    color: #fff;
}

.blob-3 {
    position: absolute;
    transform: rotate(35deg);
    width: 40%;
    left: -20%;
    top: -50%;
}

/* Animations */

.shake-vertical {
    animation: shake-vertical 2s infinite;
}

@keyframes shake-vertical {
    0%,
    100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    }
    80% {
    -webkit-transform: translateY(6.4px);
            transform: translateY(6.4px);
    }
    90% {
    -webkit-transform: translateY(-6.4px);
            transform: translateY(-6.4px);
    }
}

@keyframes vibrate {
0% {
    -webkit-transform: translate(0);
            transform: translate(0);
}
20% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
}
40% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
}
60% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
}
80% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
}
100% {
    -webkit-transform: translate(0);
            transform: translate(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

